<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Shto pjesemarres ne short</h1>
    <form action="#" th:action="@{/pjesemarresit}" th:object="${pjesemarresit}" method="post" >
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Emri: <input type="text" th:field="*{emri}" /></p>
        <p><input type="submit" value="Regjistrohu ne short"  /> <input type="reset" value="Reset" /></p>
      
   
      


            
    </form>
</body>
</html>
